@import "https://use.fontawesome.com/releases/v5.9.0/css/all.css";
@import "https://fonts.googleapis.com/css?family=Cabin|Roboto:400,700|Roboto+Condensed:400,700";

* {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   background-color: black;
   color: white;
   margin: 0 auto;
   width: 1024px;
   font-family: "Cabin", sans-serif;
   font-size: 1.6rem;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
   font-family: "Roboto Condensed", sans-serif;
}

h1 {
   font-size: 3.5rem;
}

h2 {
   font-size: 2.8rem;
}

h3 {
   font-size: 2.2rem;
}

h4 {
   font-size: 1.8rem;
}